<a href="/recipe/{{id}}"><img class="card-img-top" src="{{image}}" alt="recipe-image"></a>

<div class="card-body">
    <a href="/recipe/{{id}}" class="card-title h5">{{title}}</a>
    <div class="card-text">Prep Time: <i>{{prep_time}}</i></div>
    <div class="card-text">Cook Time: <i>{{cook_time}}</i></div>
    <div class="card-text">Rating: <i>{{return_avg_rating ratings}}</i></div> 
</div>

<div class="card-footer">
    By {{user.username}} on {{format_date created_at}}
</div>